body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.pages {
    height: auto;
    /* background-color: green; */
    align-self: center;
    width: 80%;
    text-align: end;
    a {
        margin-left: 10px;
        text-decoration: none;
        color: rgb(0, 60, 255);
    }
}
.message {
    /* height: 100px; */
    width: 50%;
    background-color: rgb(255, 163, 163);
    padding: 10px;
    border-radius: 20px;
}